a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.container {
 /* padding: 16px;*/
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.movieCard {
  border-radius: 8px;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movieCard:hover {
  transform: scale(1.05);
}

.movieImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.movieTitle {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  font-weight: bold;
  margin-top: 8px;
  color: #fff;
  text-align: center;
}

.movieGenre, .moviePopularity {
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-align: center;
  color: #bbb;
}

.movie-details {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  color: white;
}

.movie-details .header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.movie-details .header .movie-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.movie-details .header .movie-info {
  position: absolute;
  bottom: 50px;
  left: 5%;
  z-index: 10;
}

.movie-details .header .title {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: bold;
}

.movie-details .header .genre,
.movie-details .header .description,
.movie-details .header .year,
.movie-details .header .popularity {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.movie-details .content {
  padding: 20px;
  background-color: #181818;
  border-radius: 8px;
}

.movie-details .content .description {
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: 1.6;
  margin-bottom: 20px;
}

.movie-details .buttons {
  display: flex;
  gap: 20px;
}

.movie-details .buttons button {
  padding: 10px 20px;
  background-color: #e50914;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

.movie-details .buttons button:hover {
  background-color: #f40612;
}

/* Estilos para pantallas de TV */

@media (min-width: 1400px) {
  .movieTitle {
    font-size: 1.8rem;
  }

  .movieGenre,
  .movieYear,
  .movieDescription,
  .moviePopularity {
    font-size: 1.5rem;
  }
}


.backButtonDetails {
  background-color: transparent;
  border: none;
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  z-index: 9999;
}
.backArrow {
  cursor: pointer;
  font-size: 1.5em;
}

@media (min-width: 1400px) {
  .backArrow {
    font-size: 1.8em;
  }
}